# Imports & setup

In [1]:
import nltk
import os
import pandas as pd

In [2]:
!which python

/d/Anaconda/envs/nlp2/python

In [3]:
file_name = "20210103_hundenamen.csv"
data_folder = os.path.join(os.getcwd(), "data")
file_path = os.path.join(data_folder, file_name)

In [4]:
df = pd.read_csv(file_path)

In [5]:
df.head()

                      HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                         Ituma              2011               w
1      "Bo" Bendy of Treegarden              2020               m
2         "Bobby" Lord Sinclair              2009               m
3    "Buddy" Fortheringhay's J.              2011               m
4  "Fly" Showring i fly for you              2015               w

In [7]:
len(df.HUNDENAME.unique())

5192

In [20]:
df.HUNDENAME.str.lstrip('""').str.rstrip('"')

0                             Ituma
1           Bo" Bendy of Treegarden
2              Bobby" Lord Sinclair
3         Buddy" Fortheringhay's J.
4       Fly" Showring i fly for you
                   ...
8569                      unbekannt
8570                      unbekannt
8571                      unbekannt
8572                      unbekannt
8573                      unbekannt
Name: HUNDENAME, Length: 8574, dtype: object

In [24]:
len(df[df.HUNDENAME =='unbekannt'])

5

In [26]:
df.HUNDENAME =df.HUNDENAME.str.replace(r'\"', '')

D:\Anaconda\envs\nlp2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [27]:
df

                       HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                          Ituma              2011               w
1         Bo Bendy of Treegarden              2020               m
2            Bobby Lord Sinclair              2009               m
3       Buddy Fortheringhay's J.              2011               m
4     Fly Showring i fly for you              2015               w
...                          ...               ...             ...
8569                   unbekannt              2010               w
8570                   unbekannt              2011               m
8571                   unbekannt              2018               m
8572                   unbekannt              2018               m
8573                   unbekannt              2017               m

[8574 rows x 3 columns]

In [29]:
df.HUNDENAME[0]

'Ituma'

In [31]:
search_word = 'luca'

In [60]:
def edit_distance(term, search_word):
    return nltk.edit_distance(term, search_word)

In [61]:
df['edit_distance']= df.HUNDENAME.apply(edit_distance, args=[search_word])

In [62]:
luca_df = df[df['edit_distance'] ==1].copy()

In [63]:
luca_df

     HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND  edit_distance
1842      Cuca              2017               w              1
4628       Lua              2020               w              1
4629       Lua              2020               w              1
4630       Lua              2009               w              1
4631       Lua              2019               w              1
...        ...               ...             ...            ...
4877      Lupa              2014               w              1
4878      Lupa              2009               w              1
4879      Lupa              2016               w              1
4880      Lupa              2015               w              1
8379      Yuca              2020               w              1

[136 rows x 4 columns]

In [64]:
luca_df.HUNDENAME.to_list()

['Cuca',
 'Lua',
 'Lua',
 'Lua',
 'Lua',
 'Lua',
 'Lua',
 'Luba',
 'Lucas',
 'Luce',
 'Luce',
 'Luce',
 'Lucia',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lula',
 'Lula',
 'Luma',
 'Luma',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Lupa',
 'Lupa',
 'Lupa',
 'Lupa',
 'Lupa',
 'Yuca']