# Imports & setup

In [23]:
import nltk
import os
import pandas as pd

# maximum number of columns
pd.set_option("display.max_rows", 101)
pd.set_option("display.max_columns", 101)

# Data ingestion

In [25]:
file_name = "20210103_hundenamen.csv"
data_folder = os.path.join(os.getcwd(), "data")
file_path = os.path.join(data_folder, file_name)

In [26]:
df = pd.read_csv(file_path)

# EDA

In [27]:
df.head()

                      HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                         Ituma              2011               w
1      "Bo" Bendy of Treegarden              2020               m
2         "Bobby" Lord Sinclair              2009               m
3    "Buddy" Fortheringhay's J.              2011               m
4  "Fly" Showring i fly for you              2015               w

In [28]:
len(df.HUNDENAME.unique())

5192

In [29]:
len(df[df.HUNDENAME =='unbekannt'])

5

## Feature Engineering

In [30]:
df.HUNDENAME =df.HUNDENAME.str.replace(r'\"', '')

D:\Anaconda\envs\nlp2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [31]:
df

                       HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                          Ituma              2011               w
1         Bo Bendy of Treegarden              2020               m
2            Bobby Lord Sinclair              2009               m
3       Buddy Fortheringhay's J.              2011               m
4     Fly Showring i fly for you              2015               w
...                          ...               ...             ...
8569                   unbekannt              2010               w
8570                   unbekannt              2011               m
8571                   unbekannt              2018               m
8572                   unbekannt              2018               m
8573                   unbekannt              2017               m

[8574 rows x 3 columns]

In [32]:
def edit_distance(term, search_word):
    '''
    Calculate the Levenshtein distance (edit distance) between two strings after lowercasing them.
    
    Args:
        term (str): first string to compare
        searchword (str): the searchterm that we want to calculate the edit distance for
        
    Returns:
        int: the edit distance between the two terms
    '''
    
    return nltk.edit_distance(term.lower(), search_word.lower())

## Searching for names similar to "Luca"

In [33]:
search_word = 'Luca'
df['edit_distance']= df.HUNDENAME.apply(edit_distance, args=[search_word])

In [34]:
luca_df = df[df['edit_distance'] ==1]
luca_df

     HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND  edit_distance
1842      Cuca              2017               w              1
4628       Lua              2020               w              1
4629       Lua              2020               w              1
4630       Lua              2009               w              1
4631       Lua              2019               w              1
...        ...               ...             ...            ...
4877      Lupa              2014               w              1
4878      Lupa              2009               w              1
4879      Lupa              2016               w              1
4880      Lupa              2015               w              1
8379      Yuca              2020               w              1

[136 rows x 4 columns]

In [35]:
names = list(luca_df.HUNDENAME.unique())
names

['Cuca',
 'Lua',
 'Luba',
 'Lucas',
 'Luce',
 'Lucia',
 'Lucy',
 'Lula',
 'Luma',
 'Luna',
 'Lupa',
 'Yuca']

In [36]:
# Try to find a not so common name
luca_df.HUNDENAME.value_counts()

Luna     92
Lucy     21
Lua       6
Lupa      5
Luce      3
Lula      2
Luma      2
Cuca      1
Luba      1
Lucas     1
Lucia     1
Yuca      1
Name: HUNDENAME, dtype: int64